<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="LogGroup.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="serilog:minimum-level" value="Verbose" />
		<add key="serilog:using:File" value="Serilog.Sinks.File" />
		<add key="serilog:write-to:File.path" value="c:\Logs\LogGroup\log.txt" />
		<add key="serilog:write-to:File.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff zzz} [{Level:u3}] {Message:lj}{NewLine}{Exception}" />
		<add key="serilog:write-to:File.rollingInterval" value="Day" />
		<add key="serilog:write-to:File.rollOnFileSizeLimit" value="true" />
	</appSettings>
	<applicationSettings>
		<LogGroup.MySettings>
			<setting name="AllowedFolders" serializeAs="Xml">
				<value>
					<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
					  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
						<string>C:\Drop</string>
						<string>C:\DropArchive</string>
					</ArrayOfString>
				</value>
			</setting>
			<setting name="GroupDateFormat" serializeAs="String">
				<value>yyyy-MM-dd</value>
			</setting>
			<setting name="GroupName" serializeAs="String">
				<value>{GROUP_DATE_FORMAT}</value>
			</setting>
			<setting name="MinutesLastModifiedSkip" serializeAs="String">
				<value>1</value>
			</setting>
		</LogGroup.MySettings>
	</applicationSettings>
</configuration>